.sectionContainer
{    
    height: auto;
    color: #fff;
    padding: 16px;
}
.sectionTitle
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.albumgrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Defines a maximum of 6 columns */
    gap: 3rem; /* Spacing between cards */
    margin-top: 0px; /* Ensuring proper vertical spacing between title and grid */
}