.btn{
    cursor: pointer;
    color: var(--color-primary);
    background: var(--color-black);
    outline: none;
    border-radius: 12px;
    border: 1px solid var(--color-primary);
    padding: 10px 16px;
    font-family: 'Poppins';
}