.navbar {
    background-color: var(--color-primary);
    height: 74px;
    width: calc(100 - 32px);
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  